.current-rest-day {
  display: flex;
  width: 100%;
  margin-top: 3vh;
}

.current-training-day {
  display: flex;
  width: 100%;
  margin-top: 3vh;


}

.day-caption-box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}



