.filter-list-view {
  height: auto;
  width: 20%;
  display: flex;
}
.filter-box {
  
  padding-left: 2vw;
  height: 250px;
  width: 85%;
  max-width: 200px;
  margin: 5vh auto;
  border: solid;
}

.difficulty-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20%;
  line-height: 2.6;
}
