 h1 {
   margin-top: 5vh;
   padding-left: 20%;
   
   
} 

.header-search-view {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-input {
    margin: 5vh 5vw 0vw 0vw;
    width: 30vw;
    max-width: 350px;
    height: 2vh;
    border-radius: 10px;
}

.list-filter-container {
    display: flex;
}